<a href="https://colab.research.google.com/github/setyo-dwi-pratama/Courses/blob/main/14_Data_Analyst_Project_Business_Decision_Research_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Analyst Project: Business Decision Research**

## **Pendahuluan**

### **Proyek dari Kroma**
“Aksara, revisi dari Kroma sudah beres? Soalnya kamu dipanggil lagi sekarang ke ruangannya,” ujar Senja.

 

Aku melangkah menuju ruangan Kroma dengan perasaan campur aduk. Apakah ada revisi lagi? Sesampaiku di sana, Kroma sudah menantiku dengan senyum lebarnya. “Kita akan ada proyek baru. Saya memercayakan kamu untuk menanganinya. Ini sekaligus ujian pertama saya untukmu. Siap?”

 

Tidak mungkin aku menjawab tidak bukan? Kukumpulkan kepercayaan diriku dan mengangguk mantap.

### **Data Analytics Test**
Data analytics test ini berisi 2 bagian, teori dan test coding yang masing-masing terdiri dari:

1. Teori 
  * Konsep Dasar Data Analytics: Tes ini dimaksudkan untuk menguji pemahaman tentang data analytics.

2. Coding Test
  * Data preparation test: Tes ini dimaksudkan untuk menguji kemampuan dalam melakukan ETL data.
  * Data visualization test: Tes ini dimaksudkan untuk menguji kemampuan  dalam hal visualisasi data.
  * Basic Stats Method test: Tes ini dimaksudkan untuk menguji kemampuan  dalam melakukan modeling data menggunakan statistika dasar.

## **Theoritical Test**

### **Pengantar**
Jumat pagi, aku diundang oleh Senja untuk rapat kerja bersama Kroma. Rapat berlangsung cepat, kurang dari satu jam dan aku mendapat kepercayaan dari Kroma untuk menangani proyek market research. Jujur saja, ini tantangan baru buatku. Terlebih pekerjaan ini adalah rikues langsung dari Kroma.

 

“Sebelumnya, apakah kamu sudah di-brief oleh Senja terkait proyek ini? Apakah Senja sudah sempat membagikan padamu contoh yang pernah dilakukan senior tim terdahulu?” tanya Kroma saat rapat baru berakhir.

 

Aku mengangguk. “Sudah. Saya juga sudah mempelajari cara untuk coding-nya hingga penyajian visualisasi data di slide presentasi maupun dijadikan dashboard.”

 

“Baik, sepertinya sudah banyak yang sudah kamu pelajari di sini bersama Senja. Jadi, sudah siap untuk menangani proyek yang tadi saya sebutkan di rapat bukan? Saya ingin kamu melakukan **churn analysis** terhadap produk di salah satu cabang kita. **Harapan saya adalah kamu bisa memberikan rekomendasi dan strategi untuk menurunkan churn dari pelanggan kita**,” tukas Kroma seakan menguji kesiapanku.

 

“Pasti akan saya kerjakan dan berikan yang terbaik,” jawabku mantap.

## **Coding Test: Data Preparation**

### **Market Research and Recommendation and Visualization Technique for Business Decision Making - Part 1**

“Aksara, tadi saya forward studi kasus untuk proyek market research dari Kroma. Sudah masuk?” tanya Senja padaku begitu aku sampai di meja.

 

“Iya, notifikasinya sudah masuk. Segera kukerjakan ya.”

 

Aku pun membuka isi email yang dimaksud:

**DQLab sport center** adalah toko yang menjual berbagai kebutuhan olahraga seperti Jaket, Baju, Tas, dan Sepatu. Toko ini mulai berjualan **sejak tahun 2013**, sehingga sudah memiliki pelanggan tetap sejak lama, dan tetap berusaha untuk mendapatkan pelanggan baru sampai saat ini.

 

Di **awal tahun 2019**,   manajer toko tersebut merekrut junior DA untuk membantu  memecahkan masalah yang ada di tokonya, yaitu **menurunnya pelanggan yang membeli kembali ke tokonya**.  Junior DA tersebut pun diberi kepercayaan mengolah data transaksi toko tersebut. **Manajer toko mendefinisikan bahwa customer termasuk sudah bukan disebut pelanggan lagi (churn) ketika dia sudah tidak bertransaksi ke tokonya lagi sampai dengan 6 bulan terakhir dari update data terakhir yang tersedia**.  

Manajer toko pun memberikan data transaksi dari tahun 2013 sampai dengan 2019 dalam bentuk csv (comma separated value) dengan **data_retail.csv** dengan jumlah baris **100.000 baris data**.

Berikut tampilan datanya:

![image.png]()

Field yang ada pada data tersebut antara lain:

1. No
2. Row_Num
3. Customer_ID
4. Product
5. First_Transaction
6. Last_Transaction
7. Average_Transaction_Amount
8. Count_Transaction

### **Market Research and Recommendation and Visualization Technique for Business Decision Making - Part 2**
“Sudah kamu baca?” tanya Senja lagi.

Aku mengangguk seraya menyimak kembali isi studi kasus yang perlu kudapatkan solusinya.  

“Jadi, manajer toko dan junior DA di salah satu cabang kita minta bantuan kamu untuk mengurusi riset pasar mereka dengan data dan persoalan tadi. Ada baiknya sembari kamu mengerjakan, buat laporan kerjamu langkah per langkah agar bisa diketahui proses analisis datanya untuk mengatasi kasus ini.”

“Siap!” Dengan saran dari Senja, aku pun membuat catatan dari awal pengerjaan hingga selesai agar lebih sistematis untuk dilaporkan pada Kroma nanti, seperti ini:

1. **Data preparation test**
  * Importing data: Melakukan import data_retail.csv ke python environment.
  * Cleansing data: Melakukan pembersihan dan modifikasi data sehingga siap digunakan untuk analisis lebih lanjut.
2. **Data visualization test**: Mendapatkan insight dari hasil visualisasi yang telah dibuat.
3. **Basic stats method test**: Mendapatkan insight dari model dan evaluasi model yang sudah dibuat dan diuji.

### **Importing Data dan Inspection**
Importlah dataset dari https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/data_retail.csv dan kemudian inspeksilah dataset tersebut dengan

1. mencetak lima data teratas saja,
2. mencetak info dataset.

In [11]:
import pandas as pd

df = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/data_retail.csv', sep=';')

print('Lima data teratas:')
print(df.head())

print('\nInfo dataset:')
print(df.info())

Lima data teratas:
   no  Row_Num  ...  Average_Transaction_Amount Count_Transaction
0   1        1  ...                     1467681                22
1   2        2  ...                     1269337                41
2   3        3  ...                      310915                30
3   4        4  ...                      722632                27
4   5        5  ...                     1775036                25

[5 rows x 8 columns]

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  int64
 5   Last_Transaction            100000 non-null  int64
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
dtypes: int64(7), object(1)
memory usage: 6.1+ MB
None

In [12]:
df

           no  Row_Num  ...  Average_Transaction_Amount Count_Transaction
0           1        1  ...                     1467681                22
1           2        2  ...                     1269337                41
2           3        3  ...                      310915                30
3           4        4  ...                      722632                27
4           5        5  ...                     1775036                25
...       ...      ...  ...                         ...               ...
99995   99996    99996  ...                      298662                 1
99996   99997    99997  ...                      349556                 1
99997   99998    99998  ...                      598013                 1
99998   99999    99999  ...                     1208591                 1
99999  100000   100000  ...                      486710                 1

[100000 rows x 8 columns]

### **Data Cleansing**
**Dua kolom yang menunjukkan terjadinya transaksi tidak bertipe datetime**, maka **ubahlah kedua kolom tersebut ke tipe data datetime**. Kemudian cetaklah kembali 5 data teratas dari dataframe **df** dan juga tipe data masing-masing kolomnya.

In [13]:
# Kolom First_Transaction
df['First_Transaction'] = pd.to_datetime(df['First_Transaction']/1000, unit='s', origin='1970-01-01')
# Kolom Last_Transaction
df['Last_Transaction'] = pd.to_datetime(df['Last_Transaction']/1000, unit='s', origin='1970-01-01')

print('Lima data teratas:')
print(df.head())

print('\nInfo dataset:')
print(df.info())

Lima data teratas:
   no  Row_Num  ...  Average_Transaction_Amount Count_Transaction
0   1        1  ...                     1467681                22
1   2        2  ...                     1269337                41
2   3        3  ...                      310915                30
3   4        4  ...                      722632                27
4   5        5  ...                     1775036                25

[5 rows x 8 columns]

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  datetime64[ns]
 5   Last_Transaction            100000 non-null  datetime64[ns]
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 6.1+ MB
None

In [14]:
df

           no  Row_Num  ...  Average_Transaction_Amount Count_Transaction
0           1        1  ...                     1467681                22
1           2        2  ...                     1269337                41
2           3        3  ...                      310915                30
3           4        4  ...                      722632                27
4           5        5  ...                     1775036                25
...       ...      ...  ...                         ...               ...
99995   99996    99996  ...                      298662                 1
99996   99997    99997  ...                      349556                 1
99997   99998    99998  ...                      598013                 1
99998   99999    99999  ...                     1208591                 1
99999  100000   100000  ...                      486710                 1

[100000 rows x 8 columns]

### **Churn Customers**
Untuk menentukan churn customers sesuai definisi yang telah diberikan, carilah

1. transaksi paling terakhir kapan dilakukan
2. klasifikasikanlah mana customer yang berstatus churn dan mana yang tidak.

Setelah itu cetak lima data teratas dan informasi dataset.

In [18]:
# Pengecekan transaksaksi terakhir dalam dataset
print(max(df['Last_Transaction']))

2019-02-01 23:57:57.286000013

In [19]:
# Klasifikasikan customer yang berstatus churn atau tidak
# berdasarkan Manajer toko mendefinisikan bahwa customer termasuk sudah bukan disebut pelanggan lagi (churn) ketika dia sudah tidak bertransaksi ke tokonya lagi sampai dengan 6 bulan terakhir dari update data terakhir
df.loc[df['Last_Transaction'] <= '2018-08-01', 'is_churn'] = True
df.loc[df['Last_Transaction'] > '2018-08-01', 'is_churn'] = False

In [20]:
df

           no  Row_Num  ...  Count_Transaction is_churn
0           1        1  ...                 22    False
1           2        2  ...                 41    False
2           3        3  ...                 30    False
3           4        4  ...                 27    False
4           5        5  ...                 25    False
...       ...      ...  ...                ...      ...
99995   99996    99996  ...                  1     True
99996   99997    99997  ...                  1     True
99997   99998    99998  ...                  1     True
99998   99999    99999  ...                  1     True
99999  100000   100000  ...                  1    False

[100000 rows x 9 columns]

In [21]:
print('Lima data teratas:')
print(df.head())

print('\nInfo dataset:')
print(df.info())

Lima data teratas:
   no  Row_Num  ...  Count_Transaction is_churn
0   1        1  ...                 22    False
1   2        2  ...                 41    False
2   3        3  ...                 30    False
3   4        4  ...                 27    False
4   5        5  ...                 25    False

[5 rows x 9 columns]

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  datetime64[ns]
 5   Last_Transaction            100000 non-null  datetime64[ns]
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
 8   is_churn                    100000 non-null  object
dtypes: datetime64[ns](2), int64(5), object(2)
memory usage: 6.9+ MB
None