<a href="https://colab.research.google.com/github/setyo-dwi-pratama/Courses/blob/main/3_Python_for_Data_Proffesional_Beginner_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Proffesional Beginner - Part 2**

## Collection Manipulation

Apa itu Collection Manipulation?

Collections manipulation adalah salah satu teknik yang penting untuk dikuasai setiap programmer. Melalui penguasaan materi collections  manipulation kita dapat mengolah berbagai tipe data collections dalam Python yang meliputi:

* list
* tuple
* set
* Dictionary

### Mengakses List dan Tuple

INDEKS

Mengakses elemen pada suatu list ataupun tuple dengan menggunakan indeks atau semacam nomor urut dari list atau tuple tersebut. Indeks pada suatu tipe data list atau tuple dimulai dari angka 0.

In [2]:
#Tuple
bulan_pembelian = ('Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember')

print(bulan_pembelian[0])
print(bulan_pembelian[5])
print(bulan_pembelian[-1])
print(bulan_pembelian[-2])

Januari
Juni
Desember
November

In [4]:
print(bulan_pembelian[-0])

Januari

SLICING

Slicing merupakan Cara collections manipulation untuk memotong (slicing) list/ tuple dengan menggunakan rentangan nilai indeks (range of index)

In [5]:
#Tuple
bulan_pembelian = ('Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember')

pertengahan_tahun = bulan_pembelian[4:8]
print(pertengahan_tahun)

awal_tahun = bulan_pembelian[:5]
print(awal_tahun)

akhir_tahun = bulan_pembelian[8:]
print(akhir_tahun)

print(bulan_pembelian[-4:-1])

('Mei', 'Juni', 'Juli', 'Agustus')
('Januari', 'Februari', 'Maret', 'April', 'Mei')
('September', 'Oktober', 'November', 'Desember')
('September', 'Oktober', 'November')

### Penggabungan List/Tuple
Selain dapat melakukan pemotongan terhadap tipe data list/ tuple, kita juga dapat menggabungkan isi dari suatu list (ataupun tuple) dengan list lainnya (dengan tuple lainnya) dengan menggunakan operator penambahan (+)

In [7]:
list_makanan = ['Gado-gado','Ayam Goreng','Rendang']
print(list_makanan)
list_minuman = ['Es Teh','Es Jeruk','Es Campur']
print(list_minuman)
list_menu = list_makanan + list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang']
['Es Teh', 'Es Jeruk', 'Es Campur']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

### List Manipulation

Untuk memanipulasi tipe data list, dapat menggunakan sekumpulan fitur yang telah tersedia dalam bahasa pemrograman Python. beberapa fitur untuk melakukan manipulasi data yang terdiri :

* .append() : Menambahkan data sebagai elemen terakhir list
* .clear()  : Menghapus semua list
* .copy()   : Mengembalikan copy dari setiap elemen dalam list
* .count()  : Mengembalikan banyaknya elemen pada list
* .extend() : Menggabungkan dua buah list seperti penggunaan operator + untuk list

In [8]:
# .append()
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.append('Ketoprak')
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

In [13]:
# Fitur .clear()
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
print(list_makanan)
list_makanan.clear()
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang']
[]

In [18]:
# Fitur .copy()
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
print(list_makanan1)
print(list_makanan2)
print(list_makanan3)

print("----------------------------------------------------")

list_makanan2.append('Opor')
list_makanan3.append('Ketoprak')
print(list_makanan1)
print(list_makanan2)

['Gado-gado', 'Ayam Goreng', 'Rendang']
['Gado-gado', 'Ayam Goreng', 'Rendang']
['Gado-gado', 'Ayam Goreng', 'Rendang']
----------------------------------------------------
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']

In [19]:
# Fitur .count()
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
score_budi = list_score.count('Budi')
score_sud = list_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3

4
3

In [24]:
# Fitur .extend()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu.extend(list_minuman)
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

In [25]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_minuman.extend(list_menu)
print(list_minuman)

['Es Teh', 'Es Jeruk', 'Es Campur', 'Gado-gado', 'Ayam Goreng', 'Rendang']

Manipulasi tipe data list selanjutnya:

* .index()   : Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list
* .insert()  : Menyisipkan elemen pada indeks yang dispesifikasikan
* .pop()     : Menghilangkan elemen pada posisi tertentu
* .remove()  : Menghilangkan elemen dengan nilai tertentu
* .reverse() : Membalik urutan elemen dari sebuah list
* .sort()    : Mengurutkan elemen pada sebuah list, secara default dengan urutan dari kecil ke besar (ascending)

In [26]:
# Fitur .index()
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud1 = list_score.index('Sud')
score_pertama_sud = list_score.index('Sud') + 1
print(score_pertama_sud1)
print(score_pertama_sud) # akan menampilkan output 2

1
2

In [29]:
# Fitur .insert()
list_score = ['Budi','Sud','Budi','Budi','Sud']
print(list_score)
list_score.insert(5,'Ahmad')
print(list_score)

['Budi', 'Sud', 'Budi', 'Budi', 'Sud']
['Budi', 'Sud', 'Budi', 'Budi', 'Sud', 'Ahmad']

In [30]:
# Fitur .pop()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)
print(list_menu)

['Gado-gado', 'Rendang']

In [31]:
# Fitur .remove()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.remove('Rendang')
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Ketoprak']

In [32]:
# Fitur .reverse()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.reverse()
print(list_menu)

['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']

In [33]:
# Fitur .sort()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort() # Default: Ascending
print(list_menu) 
list_menu.sort(reverse=True)# Descending
print(list_menu)

['Ayam Goreng', 'Gado-gado', 'Ketoprak', 'Rendang']
['Rendang', 'Ketoprak', 'Gado-gado', 'Ayam Goreng']

### Tuple Manipulation
* .count() : Mengembalikan jumlah kemunculan suatu elemen pada tuple
* .index() : Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah tuple

In [34]:
# Fitur .count()
tuple_score = ('Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud')
score_budi = tuple_score.count('Budi')
score_sud = tuple_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3

4
3

In [35]:
# Fitur .index()
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_pertama_sud = tuple_score.index('Sud')+1
print(score_pertama_sud) # akan menampilkan output 2

2

### Set Manipulation
* .add() : Menambahkan data ke dalam set. Penting untuk kita ingat bahwa pada tipe data set tidak mengizinkan adanya duplikasi elemen di dalamnya
* .clear() : Menghapus seluruh elemen dalam sebuah set
* .copy() : Mengembalikan copy dari setiap elemen dalam set
* .update() : Menambahkan elemen dari suatu set dengan set lainnya
* .pop() : Menghilangkan elemen dari sebuah set secara acak
* .remove() : Menghilangkan elemen dengan nilai tertentu
* .union() : Mengembalikan hasil penggabungan (union) dari dua buah set
* .isdisjoint() : Mengembalikan nilai kebenaran apakah suatu set disjoint (saling lepas/tidak mengandung elemen yang sama) dengan set lainnya
* .issubset() : Mengembalikan nilai kebenaran apakah sebuah set merupakan subset dari set lainnya. Sebuah set A merupakan subset dari set B jika seluruh elemen dari set A merupakan bagian dari set B
* .issuperset() : Mengembalikan nilai kebenaran apakah sebuah set merupakan superset dari set lainnya. Sebuah set A merupakan superset dari set B jika seluruh elemen dari set B terkandung dalam set A
* .intersection() : Mengembalikan sebuah set yang merupakan intersection dari dua set lainnya
* .difference() : Mengembalikan sebuah set yang berisikan difference dari dua set lainnya. Difference dari sebuah set A berdasarkan set B adalah setiap elemen yang terdapat di set A tetapi tidak terdapat di set B
* .symmetric_difference() : Mengembalikan sebuah set yang berisikan symmetric difference dari dua set lainnya. Symmetric difference dari sebuah set A dan B adalah setiap elemen dari set A yang tidak terdapat di set B digabungkan dengan (union) setiap elemen dari set B yang tidak terdapat di set A

In [36]:
# Fitur .add()
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)

{'Apel', 'Melon', 'Jeruk', 'Anggur'}

In [37]:
# Fitur .clear()
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)

set()

In [39]:
# Fitur .copy()
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah3 = set_buah1.copy()
set_buah2.add('Melon')
set_buah3.add('Kiwi')
print(set_buah1)
print(set_buah2)

{'Apel', 'Melon', 'Jeruk', 'Anggur'}
{'Apel', 'Melon', 'Jeruk', 'Anggur'}

In [40]:
# Fitur .update()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel1.update(parcel2)
print(parcel1)

{'Jeruk', 'Anggur', 'Kiwi', 'Apel', 'Melon'}

In [42]:
# Fitur .pop()
parcel = {'Anggur','Apel','Jeruk'}
buah = parcel.pop()
print(buah)
print(parcel)

Apel
{'Jeruk', 'Anggur'}

In [44]:
# Fitur .remove()
parcel = {'Anggur','Apel','Jeruk'}
parcel.remove('Apel')
print(parcel)

{'Jeruk', 'Anggur'}

In [45]:
# Fitur .union()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print(parcel1)
print(parcel3)

{'Apel', 'Jeruk', 'Anggur'}
{'Jeruk', 'Anggur', 'Kiwi', 'Apel', 'Melon'}

In [46]:
# Fitur .isdisjoint()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)
print(parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)
print(parcel1_parcel3_disjoint)

True
False

In [47]:
# Fitur .issubset()
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print(parcel_A_dalam_C)
print(parcel_B_dalam_C)

True
False

In [49]:
# Fitur .issuperset()
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print(parcel_C_mengandung_A)
print(parcel_C_mengandung_B)

True
False

In [51]:
# Fitur .intersection()
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)
print(parcel_C)

{'Apel', 'Jeruk'}

In [52]:
# Fitur .difference()
parcel_C = parcel_A.difference(parcel_B)
print(parcel_C)

{'Kiwi', 'Melon', 'Anggur'}

In [53]:
# Fitur .symmetric_difference()
parcel_A = {'Anggur', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel','Jeruk','Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)
print(parcel_C)

{'Anggur', 'Leci', 'Semangka', 'Melon'}

### Dictonary Manipulation
* .clear() : Menghapus seluruh elemen dalam sebuah dictionary
* .copy() : Mengembalikan copy dari setiap elemen dalam set. Serupa dengan fitur copy() pada tipe data collections lainnya, fitur copy() tidak akan mengubah nilai dari elemen asal seperti fungsi assignment
* .keys() : Mengembalikan list dari seluruh kunci akses ("key") dari setiap elemen dalam sebuah dictionary
* .values() : Mengembalikan list dari seluruh nilai ("value") dari setiap elemen dalam sebuah dictionary
* .update() : Menambahkan kunci akses ("key") dan nilai baru ("value") ke dalam sebuah dictionary

In [54]:
# Fitur .clear()
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
info_karyawan.clear()
print(info_karyawan)

{}

In [55]:
# Fitur .copy()
info_karyawan1 = {'nama' : 'Aksara',
                  'nik' : '1211011',
                  'pekerjaan' : 'Data Analyst'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Senja'
info_karyawan2['nik'] = '1211056'
print(info_karyawan1)
print(info_karyawan2)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst'}
{'nama': 'Senja', 'nik': '1211056', 'pekerjaan': 'Data Analyst'}

In [56]:
# Fitur .keys()
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)

['nama', 'nik', 'pekerjaan']

In [57]:
# Fitur .values()
value_dict = list(info_karyawan.values())
print(value_dict)

['Aksara', '1211011', 'Data Analyst']

In [71]:
# Fitur .update()
info_karyawan.update({'skillset':['Python', 'R']})
print(info_karyawan)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst', 'skillset': ['Python', 'R']}

## String Manipulation

Apa itu String Manipulation?

String manipulation adalah teknik yang digunakan dalam memanipulasi data yang disimpan dalam tipe data str. Pada bahasa Python, untuk mempermudah proses pengolahan data, tipe data string dapat diperlakukan layaknya seperti tipe data list

In [72]:
nama_produk = "Sepatu Niko"
nama_produk = nama_produk[:2] + "P" + nama_produk[3:9] + "K" + nama_produk[-1]
print(nama_produk)
print(nama_produk[:7])
print(nama_produk[7:])
print(len(nama_produk))

SePatu NiKo
SePatu
NiKo
11

### Operator Gabungan (+)

In [74]:
nama_depan = 'john'
nama_belakang = 'Doee'
nama_lengkap = nama_depan + ' ' + nama_belakang
print(nama_lengkap)

umur = '27 tahun'
alamat = 'Jl. Anggrek No. 100'
nama_umur_alamat = 'Hi, saya ' + nama_lengkap + 'umur' + umur + ', tinggal di ' + alamat + '.'
print(nama_umur_alamat)

john Doee
Hi, saya john Doeeumur27 tahun, tinggal di Jl. Anggrek No. 100.

### Menghilangkan Spasi di Awal dan/atau di Akhir
* .strip() : Menghilangkan kelebihan spasi pada awal dan akhir string 
* lstrip() : Menghilangkan kelebihan spasi pada awal string
* rstrip() : Menghilangkan kelebihan spasi pada akhir string

In [75]:
# Fitur .strip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.strip()
print(kata_sambutan)

halo, selamat siang!

In [76]:
# Fitur .lstrip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.lstrip()
print(kata_sambutan)

halo, selamat siang!

In [77]:
# Fitur .rstrip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.rstrip()
print(kata_sambutan)

 halo, selamat siang!

### Merubah Caps pada String
Cara merubah caps (penggunaan huruf besar dan kecil). Jika diawal kalimat pada suatu string yang dimiliki belum berupa huruf kapital maka dengan menggunakan fitur .capitalize() kita dengan mudah merubah string tersebut menjadi kalimat yang benar secara bahasa

* .capitalize() : Mengubah elemen pertama dari string menjadi huruf kapital
* .lower() : Mengubah seluruh huruf dalam teks (string) menjadi huruf kecil
* .upper() : Mengubah seluruh huruf dalam teks (string) menjadi huruf besar

In [78]:
# Fitur .capitalize()
print(">>> Fitur .capitalize()")
judul_buku = 'belajar bahasa Python'
print(judul_buku.capitalize())

>>> Fitur .capitalize()
Belajar bahasa python

In [79]:
# Fitur .lower()
print(">>> Fitur .lower()")
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.lower())

>>> Fitur .lower()
belajar bahasa python.

In [80]:
# Fitur .upper()
print(">>> Fitur .upper()")
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.upper())

>>> Fitur .upper()
BELAJAR BAHASA PYTHON.

### Pemecahan, Penggabungan, dan Penggantian String
Cara memecah suatu string dengan kondisi tertentu sehingga menghasilkan list of string. Kemudian, akan dipelajari bagaimana cara menggabungkan beberapa list of string menjadi string saja dan mengganti sub-string tertentu dengan sub-string lainnya sehingga merubah string awalnya

* .split() : Memecah sebuah string berdasarkan string lainnya ke dalam sebuah list
* .join() : Menggabungkan sebuah list yang berisikan string berdasarkan sebuah string yang telah didefinisikan
* .replace() : Menggantikan kemunculan suatu string tertentu dengan string lainnya dalam sebuah string

In [81]:
# Fitur .split()
print(">>> Fitur .split()")
bilangan = "ani dan budi dan wati dan johan"
karakter = bilangan.split("dan")
print(karakter)
kata = bilangan.split(" ")
print(kata)

>>> Fitur .split()
['ani ', ' budi ', ' wati ', ' johan']
['ani', 'dan', 'budi', 'dan', 'wati', 'dan', 'johan']

In [82]:
# Fitur .join()
print(">>> Fitur .join()")
pemisah = " dan "
karakter = ["Ricky", "Peter", "Jordan"]
kalimat = pemisah.join(karakter)
print(kalimat)

>>> Fitur .join()
Ricky dan Peter dan Jordan

In [84]:
# Fitur .replace()
print(">>> Fitur .replace()")
kalimat = "apel malang apel yang paling segar, apel sehat, apel nikmat"
kalimat = kalimat.replace("apel", "jeruk")
print(kalimat)

>>> Fitur .replace()
jeruk malang jeruk yang paling segar, jeruk sehat, jeruk nikmat

### Menentukan Posisi dan Jumlah Sub-string pada String

* .find() : Mengembalikan posisi dari sebuah teks (sub-string) lainnya dalam sebuah string
* .count() : Menghitung jumlah kemunculan sebuah teks (string) lainnya dalam suatu string (string yang dicari bersifat case sensitive

In [87]:
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
# Fitur .find()
print(">>> Fitur .find()")
print(teks.find("Apel"))
print(teks.find("malang"))
# Fitur .count()
print(">>> Fitur .count()")
kemunculan_kata_apel = teks.count("apel")
print(kemunculan_kata_apel)

>>> Fitur .find()
0
5
>>> Fitur .count()
3

### Menentukan String Apakah Diawali/Diakhiri oleh Sub-string
Cara menentukan apakah suatu string diawali atau diakhiri dengan suatu substring (teks) tertentu

* .startswith() : Mengembalikan nilai kebenaran True ketika sebuah teks (string) diawali dengan sebuah teks lainnya
* .endswith() : Mengembalikan nilai kebenaran True ketika sebuah teks (string) diakhiri dengan sebuah teks lainnya

In [88]:
# Fitur .startswith()
print(">>> Fitur .startswith()")
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
print(teks.startswith("Apel"))
print(teks.startswith("apel"))
# Fitur .endswith()
print(">>> Fitur .endswith()")
print(teks.endswith("lainnya"))
print(teks.endswith("apel"))

>>> Fitur .startswith()
True
False
>>> Fitur .endswith()
True
False

In [92]:
judul_artikel = [
"Buah Salak Baik untuk Mata", "Buah Salak Kaya Potasium",
"Buah Jeruk Kaya Vitamin C", "Buah Salak Kaya Manfaat",
"Salak Baik untuk Jantung", "Jeruk dapat Memperkuat Tulang",
"Jeruk Mencegah Penyakit Asma", "Jeruk Memperkuat Gigi",
"Jeruk Mencegah Kolesterol Jahat", "Salak Mencegah Diabetes",
"Salak Memperkuat Dinding Usus", "Salak Baik untuk Darah",
"Jeruk Kaya Manfaat untuk Jantung", "Salak si Kecil yang Baik",
"Jeruk dan Salak Buah Kaya Manfaat", "Buah Jeruk Enak",
"Tips Panen Jeruk Ribuan Kilo", "Tips Bertanam Salak",
"Salak Manis untuk Berbuka", "Jeruk Baik untuk Wajah"
]
jumlah_artikel_jeruk = 0
jumlah_artikel_salak = 0
for judul in judul_artikel:
  if judul.count("Jeruk") > 0:
    jumlah_artikel_jeruk += 1
  if judul.count("Salak") > 0:
    jumlah_artikel_salak += 1
print(jumlah_artikel_jeruk)
print(jumlah_artikel_salak)

10
11

In [93]:

judul_artikel = [
"Buah Salak Baik untuk Mata", "Buah Salak Kaya Potasium",
"Buah Jeruk Kaya Vitamin C", "Buah Salak Kaya Manfaat",
"Salak Baik untuk Jantung", "Jeruk dapat Memperkuat Tulang",
"Jeruk Mencegah Penyakit Asma", "Jeruk Memperkuat Gigi",
"Jeruk Mencegah Kolesterol Jahat", "Salak Mencegah Diabetes",
"Salak Memperkuat Dinding Usus", "Salak Baik untuk Darah",
"Jeruk Kaya Manfaat untuk Jantung", "Salak si Kecil yang Baik",
"Jeruk dan Salak Buah Kaya Manfaat", "Buah Jeruk Enak",
"Tips Panen Jeruk Ribuan Kilo", "Tips Bertanam Salak",
"Salak Manis untuk Berbuka", "Jeruk Baik untuk Wajah"
]
kata_positif = ["Kaya", "Baik", "Mencegah", "Memperkuat"]
kata_positif_jeruk = 0
kata_positif_salak = 0
for judul in judul_artikel:
  for kata in kata_positif:
    if judul.count("Jeruk") > 0 and judul.count(kata) > 0:
      kata_positif_jeruk += 1
    if judul.count("Salak") > 0 and judul.count(kata) > 0:
      kata_positif_salak += 1
print(kata_positif_jeruk)
print(kata_positif_salak)

8
9

## Functions

Apa itu Functions?

Function adalah sebuah blok statemen yang hanya akan dijalankan saat ia dipanggil.

Fungsi len() untuk mengukur jumlah elemen dalam sebuah list dan fungsi print() untuk menampilkan pesan pada layar konsol merupakan contoh dari bentuk fungsi yang telah disediakan oleh bahasa pemrograman Python atau dengan kata lain built-in functions.

Selain fungsi yang telah disediakan oleh Python, Python mengizinkan untuk mendeklarasikan fungsi dalam kode yang dituliskan yang dikenal dengan user defined function.

def nama_fungsi(argument):
    statement_1
    …
    statement_n
    return returned_value

* nama_fungsi adalah nama untuk fungsi yang Anda definisikan, memiliki aturan seperti penamaan variabel
* argument adalah variabel masukan ke fungsi, bisa tanpa variabel, satu variabel atau lebih
* statement_1 … statement_n adalah algoritma yang telah Anda transfer dalam bahasa Python yang merupakan inti dari fungsi yang Anda definisikan. Seluruh statement adalah menjorok (indent) ke dalam seperti yang pernah Anda pelajari pada conditioning dan looping
* return_value adalah variabel output dari fungsi Anda, bisa tanpa variabel, satu variabel atau lebih.

### Fungsi Pertama

In [94]:
# Definisikan fungsi
def contoh_fungsi():
    print("Hallo Dunia")
    print("Aku sedang belajar bahasa python")
# Panggil fungsi yang telah didefinisikan
contoh_fungsi()

Hallo Dunia
Aku sedang belajar bahasa python

### Fungsi Kedua

Sebuah fungsi dapat menerima serangkaian argumen pada bagian dalam kurung setelah nama fungsi telah didefinisikan.

fungsi_dengan_argumen membutuhkan dua argumen (nama_depan, nama_belakang).
Python akan menjalankan sebuah fungsi hanya ketika telah mensuplai jumlah argumen yang sesuai saat fungsi didefinisikan.

In [95]:
# Definsikan fungsi 
def fungsi_dengan_argumen(nama_depan, nama_belakang):
    print(nama_depan+" "+nama_belakang)
# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John Doe

### Fungsi Ketiga

Saat melakukan pemanggilan fungsi dengan jumlah argumen yang tidak sesuai, Python akan mengembalikan pesan error yang menyatakan bahwa terdapat argumen yang belum disuplai agar fungsi dapat dijalankan dengan baik.

Contoh berikut ini adalah contoh pesan error yang akan dikembalikan oleh Python saat mensuplai satu argumen saja untuk fungsi_dengan_argumen,

Type Error: function fungsi_dengan_argumen() missing 1 required positional argument: nama_belakang
 

Bahasa Python mengizinkan untuk memberikan suatu nilai default terkait dengan sebuah argumen dalam sebuah fungsi. Melalui fitur ini, suatu argumen dalam sebuah fungsi akan bersifat opsional

In [97]:
# Definsikan fungsi dengan nilai default argument kedua adalah "".
def fungsi_dengan_argumen(nama_depan, nama_belakang= ""):
	print(nama_depan+" "+nama_belakang)
 
# Panggil fungsi dengan memasukkan argumen nama_depan "John"
fungsi_dengan_argumen("John")

# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John
John Doe

### EX Fungsi

In [100]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]
# Definisikan fungsi hitng_rata_rata
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Hitung nilai rata-rata dari kedua data yang dimiliki
print('Rata-rata data1:')
print(hitung_rata_rata(data1))
print('Rata-rata data2:')
print(hitung_rata_rata(data2))

Rata-rata data1:
105.0
Rata-rata data2:
73.0

In [103]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]
# Fungsi rata-rata data
def hitung_rata_rata(data):
  jumlah = 0
  for item in data:
    jumlah += item
  rata_rata = jumlah/len(data)
  return rata_rata
# Definisikan fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
  rata_rata_data = hitung_rata_rata(data)
  varians = 0
  for item in data:
    varians += (item - rata_rata_data) ** 2
    varians /= len(data)
    standar_deviasi = varians ** (1/2)
  return standar_deviasi
# Hitung nilai standar deviasi dari kedua data yang dimiliki
print('Standar deviasi data1:')
print(hitung_standar_deviasi(data1))
print('Standar deviasi data2:')
print(hitung_standar_deviasi(data2))

Standar deviasi data1:
14.93311056335886
Standar deviasi data2:
6.025948374480153

In [104]:
# Data properti
tabel_properti = {
'luas_tanah': [70, 70, 70, 100, 100, 100, 120, 120, 150, 150],
'luas_bangunan': [50, 60, 60, 50, 70, 70, 100, 80, 100, 90],
'jarak': [15, 30, 55, 30, 25, 50, 20, 50, 50, 15],
'harga': [500, 400, 300, 700, 1000, 650, 2000, 1200, 1800, 3000]
}
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
# Fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
        varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
# Definisikan fungsi untuk menghitung rata-rata dan standar deviasi
# setiap kolom pada tabel_properti yang diberikan oleh key dict.
def deskripsi_properti(tabel):
    for key in tabel.keys():
        print('Rata-rata ' + key + ':')
        print(hitung_rata_rata(tabel[key])) 
        print('Standar deviasi ' + key + ':')
        print(hitung_standar_deviasi(tabel[key]))
        print('')
# Panggil fungsi deskripsi_properti untuk menghitung rata-rata 
# dan standar deviasi setiap kolom pada tabel_properti
deskripsi_properti(tabel_properti)

Rata-rata luas_tanah:
105.0
Standar deviasi luas_tanah:
14.93311056335886

Rata-rata luas_bangunan:
73.0
Standar deviasi luas_bangunan:
6.025948374480153

Rata-rata jarak:
34.0
Standar deviasi jarak:
6.24005184770928

Rata-rata harga:
1155.0
Standar deviasi harga:
587.0594351517378

## Manipulasi Berkas Teks dan Library Matematika pada Python

### Manipulasi Berkas Teks

Pengolahan berkas teks pada Python tidak membutuhkan proses import dependencies lainnya seperti pada bahasa-bahasa pemrograman lainnya. Untuk memanipulasi berkas teks pada bahasa pemrograman Python, pertama harus membuka/ membuat berkas teks yang diinginkan dengan menggunakan fungsi open(). Fungsi open() menerima 2 parameter, di mana parameter pertama merupakan nama dari file yang ingin dibuka/dibuat dan mode yang berkaitan dengan aksi yang ingin dilakukan terhadap file yang telah terbuka. Sebagai contoh,

file = open("hello.txt", "r")
argumen/ parameter "r" mengartikan bahwa file yang akan dibuka berada dalam mode “read” sehingga nantinya aku tidak dapat menambahkan/ menuliskan ulang isi tulisan dari file “hello.txt”.

Perintah ini dapat digunakan untuk menutup file yang telah aku buka.

file.close()
 

Selain mode "r" yang hanya digunakan untuk membaca file, terdapat juga mode lainnya seperti:

* w: write, mode ini dapat digunakan untuk menulis ke dalam sebuah berkas teks, jika berkas tidak tersedia, maka Python akan secara otomatis membuat sebuah berkas baru dengan nama yang telah di spesifikasikan. Saat menulis dengan menggunakan mode ini, jika file semula tidak kosong, maka isi yang sebelumnya terdapat di dalam berkas akan terhapus.
* a: append, mode ini dapat digunakan untuk menambahkan isi dari sebuah berkas teks. Mode ini juga akan membuat sebuah berkas teks baru dengan nama yang telah kita spesifikasikan jika berkas teks tidak tersedia.
* w+: write+, mode ini dapat digunakan untuk membaca ataupun menuliskan isi dari sebuah berkas teks.
* a+: append+, mode ini dapat digunakan untuk  membaca ataupun menambahkan isi dari sebuah berkas teks.

### Membaca Berkas Teks – Part 1

Setelah mempelajari bagaimana membuka/ membuat sebuah berkas teks dalam Python, selanjutnya akan mempelajari sintaks untuk dapat membaca isi dari sebuah berkas. Untuk membaca isi dari sebuah teks, dapat menggunakan potongan kode berikut

mengasumsikan baris-baris di bawah comment merupakan isi dari “hello.txt”

Kita sedang belajar Python

Tepatnya belajar memanipulasi berkas teks

Memanipulasi berkas dengan Python sangatlah mudah!

In [107]:
""" # Membaca file hello.txt dengan fungsi read()
print(">>> Membaca file hello.txt dengan fungsi read()")
file = open("hello.txt", "r")
content = file.read()
file.close()
print(content)
# Membaca file hello.txt dengan fungsi readline()
print(">>> Membaca file hello.txt dengan fungsi readline()")
file = open("hello.txt", "r")
first_line = file.readline()
second_line = file.readline()
file.close()
print(first_line)
print(second_line) """

' # Membaca file hello.txt dengan fungsi read()\nprint(">>> Membaca file hello.txt dengan fungsi read()")\nfile = open("hello.txt", "r")\ncontent = file.read()\nfile.close()\nprint(content)\n# Membaca file hello.txt dengan fungsi readline()\nprint(">>> Membaca file hello.txt dengan fungsi readline()")\nfile = open("hello.txt", "r")\nfirst_line = file.readline()\nsecond_line = file.readline()\nfile.close()\nprint(first_line)\nprint(second_line) '

Fungsi readlines() akan mengembalikan sebuah list yang setiap elemennya merupakan setiap baris dalam sebuah berkas teks.

In [109]:
""" # Membaca file hello.txt dengan fungsi readlines()
print(">>> Membaca file hello.txt dengan fungsi readlines()")
file = open("hello.txt", "r")
all_lines = file.readlines()
file.close()
print(all_lines)
# Membaca file hello.txt dengan menerapkan looping
print(">>> Membaca file hello.txt dengan menerapkan looping")
file = open("hello.txt", "r")
for line in file:
    print(line) """

' # Membaca file hello.txt dengan fungsi readlines()\nprint(">>> Membaca file hello.txt dengan fungsi readlines()")\nfile = open("hello.txt", "r")\nall_lines = file.readlines()\nfile.close()\nprint(all_lines)\n# Membaca file hello.txt dengan menerapkan looping\nprint(">>> Membaca file hello.txt dengan menerapkan looping")\nfile = open("hello.txt", "r")\nfor line in file:\n    print(line) '

### Menulis Berkas Teks – Part 1

Untuk menuliskan isi dari suatu berkas dapat menggunakan fungsi write() atau writelines() yang telah disediakan oleh Python. Sebelum masuk ke dalam contoh penggunaan fungsi write() atau writelines(), penting untuk mengingat bahwa mode yang dispesifikasikan pada fungsi open() akan mempengaruhi bagaimana Python menuliskan isi ke dalam berkas teks. Jika menggunakan mode "w", maka Python akan menghapus seluruh isi dalam berkas sebelum menuliskan konten yang telah di spesifikasikan.

Asumsikan baris-baris di bawah comment ini merupakan isi dari “hello.txt”

Kita sedang belajar Python

Tepatnya belajar memanipulasi berkas teks

Memanipulasi berkas dengan Python sangatlah mudah!

In [110]:
# Menulis ke file hello_write.txt
file = open("hello.txt", "w")
file.write("Sekarang kita belajar menulis dengan menggunakan Python")
file.write("Menulis konten file dengan mode w (write).")
file.close()

### Menulis Berkas Teks – Part 2
Ketika menulis pada berkas teks menggunakan mode "a", Python tidak akan menghapus isi dalam berkas dan hanya akan menambahkan konten. pelajari contoh berikut untuk memahami penggunaan fungsi write() dan writelines()

Pertama, mengasumsikan baris-baris di bawah comment ini merupakan isi dari “hello.txt”

Kita sedang belajar Python

Tepatnya belajar memanipulasi berkas teks

Memanipulasi berkas dengan Python sangatlah mudah!

Perintah ini di gunakan untuk membuka/membuat sebuah berkas teks dengan menggunakan mode “a”, untuk menambahkan beberapa baris pada berkas teks setelah isi dari berkas awalnya

In [112]:
# Menulis ke file dengan mode append
file = open("hello.txt", "a")
file.writelines([
"Sekarang kita belajar menulis dengan menggunakan Python", 
"Menulis konten file dengan mode a (append)."
])
file.close()

### Library Matematika pada Python
Salah satu keunikan Python adalah library yang dimilikinya karena dapat di-extend dengan library yang didefinisikan oleh pengguna Python, selain dari library bawaan (built-in) yang dimilikinya. Untuk membuat library yang didefinisikan oleh pengguna umumnya dilakukan dengan menggunakan teknik pemograman berorientasi obyek (object oriented programming).

Tentunya secara dasar, Python tidak dapat digunakan untuk pengolahan data, komputasi saintifik, machine learning dan bahkan sistem cerdas. Melalui pengembang library tentunya dapat memiliki akses ke keperluan atau bidang tersebut. Library ini dapat diinstal melalui command pip yang bersumber dari webnya python package index.

Bagi yang pernah menggunakan Matlab pasti tahu ada toolbox tertentu misal untuk optimasi, pengolahan sinyal, dll. Jadi toolbox di Matlab itu ekuivalen dengan library pada Python. Bahasa pemograman lain seperti R, PHP, GO, Java dsb tentu juga punya apakah namanya tetap library atau framework.

Untuk memanggil library pada python, aku dapat menggunakan syntax:

import 

adalah nama library yang akan diimport untuk dapat digunakan dalam kode program yang disusun, baik library bawaan (built-in), library yang tersedia di webnya python package index atau dikembangkan sendiri.

Python adalah salah satu bahasa yang paling diminati untuk pengolahan data secara matematis. Untuk menggunakan fungsi-fungsi matematis yang telah disediakan oleh bahasa Python, dapat melakukan proses import library math seperti pada potongan kode berikut,

import math

### Fungsi dalam Library Matematika – Part 1

* math.ceil() : Pembulatan ke atas
* math.floor() : Pembulatan ke bawah
* math.fabs() : Menerima input berupa bilangan dan mengembalikan hasil absolut dari bilangan input
* math.factorial() : Menerima input berupa bilangan dan mengembalikan hasil faktorial dari bilangan input
* math.fsum() : Menerima input berupa tipe data collection (tuple, list, etc.) dan mengembalikan hasil penjumlahan setiap elemennya
* math.log() : Menerima input berupa dua buah bilangan (asumsikan x dan y) dan mengembalikan sebuah bilangan (z) di mana z merupakan hasil log basis y dari x (atau dengan kata lain x merupakan hasil pemangkatan dari z terhadap y)
* math.sqrt() : Menerima input berupa sebuah bilangan dan mengembalikan hasil akar pangkat dua (akar kuadrat) dari bilangan tersebut
* math.copysign() : Menerima input berupa dua buah bilangan dan mengembalikan tanda bilangan pertama yang dikalikan dengan tanda positif/ negatif dari bilangan kedua

In [115]:
# Import library math
import math
# Fungsi math.ceil()
print(">>> Fungsi math.ceil()")
x = 10.32
y = 13.87
x_ceil = math.ceil(x)
y_ceil = math.ceil(y)
print(x_ceil)
print(y_ceil)

# Fungsi math.floor()
print(">>> Fungsi math.floor()")
x_floor = math.floor(x)
y_floor = math.floor(y)
print(x_floor)
print(y_floor)

# Fungsi math.fabs()
print(">>> Fungsi math.fabs()")
x = 10.32
y = -13.87
x = math.fabs(x)
y = math.fabs(y)
print(x)
print(y)

# Fungsi math.factorial()
print(">>> Fungsi math.factorial()")
x_factorial = math.factorial(5)
print(x_factorial)

# Fungsi math.fsum()
print(">>> Fungsi math.fsum()")
x = [1, 2, 3, 4, 5, 6, -6, -5, -4]
total = math.fsum(x)
print(total)

>>> Fungsi math.ceil()
11
14
>>> Fungsi math.floor()
10
13
>>> Fungsi math.fabs()
10.32
13.87
>>> Fungsi math.factorial()
120
>>> Fungsi math.fsum()
6.0

In [117]:
# Import library math
import math

# Fungsi math.log()
print(">>> Fungsi math.log()")
# x = log basis 2 dari 8
x = math.log(8,2)
# y = log basis 3 dari 81
y = math.log(81,3)
# z = log basis 10 dari 10000
z = math.log(10000,10)
print(x)
print(y)
print(z)

# Fungsi math.sqrt()
print(">>> Fungsi math.sqrt()")
# akar kuadrat dari 100
x = math.sqrt(100)
print(x)
# akar kuadrat dari 2
y = math.sqrt(2)
print(y)

# Fungsi math.copysign()
print(">>> Fungsi math.copysign()")
x = 10.32
y = -13.87
z = -15
x = math.copysign(x, z)
y = math.copysign(y, z)
z = math.copysign(z, 10)
print(x)
print(y)
print(z)

>>> Fungsi math.log()
3.0
4.0
4.0
>>> Fungsi math.sqrt()
10.0
1.4142135623730951
>>> Fungsi math.copysign()
-10.32
-13.87
15.0