<a href="https://colab.research.google.com/github/setyo-dwi-pratama/Courses/blob/main/3_Python_for_Data_Proffesional_Beginner_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Proffesional Beginner - Part 2**

## Collection Manipulation

Apa itu Collection Manipulation?

Collections manipulation adalah salah satu teknik yang penting untuk dikuasai setiap programmer. Melalui penguasaan materi collections  manipulation kita dapat mengolah berbagai tipe data collections dalam Python yang meliputi:

* list
* tuple
* set
* Dictionary

### Mengakses List dan Tuple

INDEKS

Mengakses elemen pada suatu list ataupun tuple dengan menggunakan indeks atau semacam nomor urut dari list atau tuple tersebut. Indeks pada suatu tipe data list atau tuple dimulai dari angka 0.

In [2]:
#Tuple
bulan_pembelian = ('Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember')

print(bulan_pembelian[0])
print(bulan_pembelian[5])
print(bulan_pembelian[-1])
print(bulan_pembelian[-2])

Januari
Juni
Desember
November

In [4]:
print(bulan_pembelian[-0])

Januari

SLICING

Slicing merupakan Cara collections manipulation untuk memotong (slicing) list/ tuple dengan menggunakan rentangan nilai indeks (range of index)

In [5]:
#Tuple
bulan_pembelian = ('Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember')

pertengahan_tahun = bulan_pembelian[4:8]
print(pertengahan_tahun)

awal_tahun = bulan_pembelian[:5]
print(awal_tahun)

akhir_tahun = bulan_pembelian[8:]
print(akhir_tahun)

print(bulan_pembelian[-4:-1])

('Mei', 'Juni', 'Juli', 'Agustus')
('Januari', 'Februari', 'Maret', 'April', 'Mei')
('September', 'Oktober', 'November', 'Desember')
('September', 'Oktober', 'November')

### Penggabungan List/Tuple
Selain dapat melakukan pemotongan terhadap tipe data list/ tuple, kita juga dapat menggabungkan isi dari suatu list (ataupun tuple) dengan list lainnya (dengan tuple lainnya) dengan menggunakan operator penambahan (+)

In [7]:
list_makanan = ['Gado-gado','Ayam Goreng','Rendang']
print(list_makanan)
list_minuman = ['Es Teh','Es Jeruk','Es Campur']
print(list_minuman)
list_menu = list_makanan + list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang']
['Es Teh', 'Es Jeruk', 'Es Campur']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

### List Manipulation

Untuk memanipulasi tipe data list, dapat menggunakan sekumpulan fitur yang telah tersedia dalam bahasa pemrograman Python. beberapa fitur untuk melakukan manipulasi data yang terdiri :

* .append() : Menambahkan data sebagai elemen terakhir list
* .clear()  : Menghapus semua list
* .copy()   : Mengembalikan copy dari setiap elemen dalam list
* .count()  : Mengembalikan banyaknya elemen pada list
* .extend() : Menggabungkan dua buah list seperti penggunaan operator + untuk list

In [8]:
# .append()
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.append('Ketoprak')
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

In [13]:
# Fitur .clear()
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
print(list_makanan)
list_makanan.clear()
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang']
[]

In [18]:
# Fitur .copy()
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
print(list_makanan1)
print(list_makanan2)
print(list_makanan3)

print("----------------------------------------------------")

list_makanan2.append('Opor')
list_makanan3.append('Ketoprak')
print(list_makanan1)
print(list_makanan2)

['Gado-gado', 'Ayam Goreng', 'Rendang']
['Gado-gado', 'Ayam Goreng', 'Rendang']
['Gado-gado', 'Ayam Goreng', 'Rendang']
----------------------------------------------------
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']

In [19]:
# Fitur .count()
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
score_budi = list_score.count('Budi')
score_sud = list_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3

4
3

In [24]:
# Fitur .extend()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu.extend(list_minuman)
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

In [25]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_minuman.extend(list_menu)
print(list_minuman)

['Es Teh', 'Es Jeruk', 'Es Campur', 'Gado-gado', 'Ayam Goreng', 'Rendang']

Manipulasi tipe data list selanjutnya:

* .index()   : Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list
* .insert()  : Menyisipkan elemen pada indeks yang dispesifikasikan
* .pop()     : Menghilangkan elemen pada posisi tertentu
* .remove()  : Menghilangkan elemen dengan nilai tertentu
* .reverse() : Membalik urutan elemen dari sebuah list
* .sort()    : Mengurutkan elemen pada sebuah list, secara default dengan urutan dari kecil ke besar (ascending)

In [26]:
# Fitur .index()
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud1 = list_score.index('Sud')
score_pertama_sud = list_score.index('Sud') + 1
print(score_pertama_sud1)
print(score_pertama_sud) # akan menampilkan output 2

1
2

In [29]:
# Fitur .insert()
list_score = ['Budi','Sud','Budi','Budi','Sud']
print(list_score)
list_score.insert(5,'Ahmad')
print(list_score)

['Budi', 'Sud', 'Budi', 'Budi', 'Sud']
['Budi', 'Sud', 'Budi', 'Budi', 'Sud', 'Ahmad']

In [30]:
# Fitur .pop()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)
print(list_menu)

['Gado-gado', 'Rendang']

In [31]:
# Fitur .remove()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.remove('Rendang')
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Ketoprak']

In [32]:
# Fitur .reverse()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.reverse()
print(list_menu)

['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']

In [33]:
# Fitur .sort()
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort() # Default: Ascending
print(list_menu) 
list_menu.sort(reverse=True)# Descending
print(list_menu)

['Ayam Goreng', 'Gado-gado', 'Ketoprak', 'Rendang']
['Rendang', 'Ketoprak', 'Gado-gado', 'Ayam Goreng']

### Tuple Manipulation
* .count() : Mengembalikan jumlah kemunculan suatu elemen pada tuple
* .index() : Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah tuple

In [34]:
# Fitur .count()
tuple_score = ('Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud')
score_budi = tuple_score.count('Budi')
score_sud = tuple_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3

4
3

In [35]:
# Fitur .index()
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_pertama_sud = tuple_score.index('Sud')+1
print(score_pertama_sud) # akan menampilkan output 2

2

### Set Manipulation
* .add() : Menambahkan data ke dalam set. Penting untuk kita ingat bahwa pada tipe data set tidak mengizinkan adanya duplikasi elemen di dalamnya
* .clear() : Menghapus seluruh elemen dalam sebuah set
* .copy() : Mengembalikan copy dari setiap elemen dalam set
* .update() : Menambahkan elemen dari suatu set dengan set lainnya
* .pop() : Menghilangkan elemen dari sebuah set secara acak
* .remove() : Menghilangkan elemen dengan nilai tertentu
* .union() : Mengembalikan hasil penggabungan (union) dari dua buah set
* .isdisjoint() : Mengembalikan nilai kebenaran apakah suatu set disjoint (saling lepas/tidak mengandung elemen yang sama) dengan set lainnya
* .issubset() : Mengembalikan nilai kebenaran apakah sebuah set merupakan subset dari set lainnya. Sebuah set A merupakan subset dari set B jika seluruh elemen dari set A merupakan bagian dari set B
* .issuperset() : Mengembalikan nilai kebenaran apakah sebuah set merupakan superset dari set lainnya. Sebuah set A merupakan superset dari set B jika seluruh elemen dari set B terkandung dalam set A
* .intersection() : Mengembalikan sebuah set yang merupakan intersection dari dua set lainnya
* .difference() : Mengembalikan sebuah set yang berisikan difference dari dua set lainnya. Difference dari sebuah set A berdasarkan set B adalah setiap elemen yang terdapat di set A tetapi tidak terdapat di set B
* .symmetric_difference() : Mengembalikan sebuah set yang berisikan symmetric difference dari dua set lainnya. Symmetric difference dari sebuah set A dan B adalah setiap elemen dari set A yang tidak terdapat di set B digabungkan dengan (union) setiap elemen dari set B yang tidak terdapat di set A

In [36]:
# Fitur .add()
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)

{'Apel', 'Melon', 'Jeruk', 'Anggur'}

In [37]:
# Fitur .clear()
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)

set()

In [39]:
# Fitur .copy()
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah3 = set_buah1.copy()
set_buah2.add('Melon')
set_buah3.add('Kiwi')
print(set_buah1)
print(set_buah2)

{'Apel', 'Melon', 'Jeruk', 'Anggur'}
{'Apel', 'Melon', 'Jeruk', 'Anggur'}

In [40]:
# Fitur .update()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel1.update(parcel2)
print(parcel1)

{'Jeruk', 'Anggur', 'Kiwi', 'Apel', 'Melon'}

In [42]:
# Fitur .pop()
parcel = {'Anggur','Apel','Jeruk'}
buah = parcel.pop()
print(buah)
print(parcel)

Apel
{'Jeruk', 'Anggur'}

In [44]:
# Fitur .remove()
parcel = {'Anggur','Apel','Jeruk'}
parcel.remove('Apel')
print(parcel)

{'Jeruk', 'Anggur'}

In [45]:
# Fitur .union()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print(parcel1)
print(parcel3)

{'Apel', 'Jeruk', 'Anggur'}
{'Jeruk', 'Anggur', 'Kiwi', 'Apel', 'Melon'}

In [46]:
# Fitur .isdisjoint()
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)
print(parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)
print(parcel1_parcel3_disjoint)

True
False

In [47]:
# Fitur .issubset()
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print(parcel_A_dalam_C)
print(parcel_B_dalam_C)

True
False

In [49]:
# Fitur .issuperset()
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print(parcel_C_mengandung_A)
print(parcel_C_mengandung_B)

True
False

In [51]:
# Fitur .intersection()
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)
print(parcel_C)

{'Apel', 'Jeruk'}

In [52]:
# Fitur .difference()
parcel_C = parcel_A.difference(parcel_B)
print(parcel_C)

{'Kiwi', 'Melon', 'Anggur'}

In [53]:
# Fitur .symmetric_difference()
parcel_A = {'Anggur', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel','Jeruk','Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)
print(parcel_C)

{'Anggur', 'Leci', 'Semangka', 'Melon'}

### Dictonary Manipulation
* .clear() : Menghapus seluruh elemen dalam sebuah dictionary
* .copy() : Mengembalikan copy dari setiap elemen dalam set. Serupa dengan fitur copy() pada tipe data collections lainnya, fitur copy() tidak akan mengubah nilai dari elemen asal seperti fungsi assignment
* .keys() : Mengembalikan list dari seluruh kunci akses ("key") dari setiap elemen dalam sebuah dictionary
* .values() : Mengembalikan list dari seluruh nilai ("value") dari setiap elemen dalam sebuah dictionary
* .update() : Menambahkan kunci akses ("key") dan nilai baru ("value") ke dalam sebuah dictionary

In [54]:
# Fitur .clear()
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
info_karyawan.clear()
print(info_karyawan)

{}

In [55]:
# Fitur .copy()
info_karyawan1 = {'nama' : 'Aksara',
                  'nik' : '1211011',
                  'pekerjaan' : 'Data Analyst'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Senja'
info_karyawan2['nik'] = '1211056'
print(info_karyawan1)
print(info_karyawan2)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst'}
{'nama': 'Senja', 'nik': '1211056', 'pekerjaan': 'Data Analyst'}

In [56]:
# Fitur .keys()
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)

['nama', 'nik', 'pekerjaan']

In [57]:
# Fitur .values()
value_dict = list(info_karyawan.values())
print(value_dict)

['Aksara', '1211011', 'Data Analyst']

In [71]:
# Fitur .update()
info_karyawan.update({'skillset':['Python', 'R']})
print(info_karyawan)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst', 'skillset': ['Python', 'R']}

## String Manipulation

Apa itu String Manipulation?

String manipulation adalah teknik yang digunakan dalam memanipulasi data yang disimpan dalam tipe data str. Pada bahasa Python, untuk mempermudah proses pengolahan data, tipe data string dapat diperlakukan layaknya seperti tipe data list

In [72]:
nama_produk = "Sepatu Niko"
nama_produk = nama_produk[:2] + "P" + nama_produk[3:9] + "K" + nama_produk[-1]
print(nama_produk)
print(nama_produk[:7])
print(nama_produk[7:])
print(len(nama_produk))

SePatu NiKo
SePatu
NiKo
11

### Operator Gabungan (+)

In [74]:
nama_depan = 'john'
nama_belakang = 'Doee'
nama_lengkap = nama_depan + ' ' + nama_belakang
print(nama_lengkap)

umur = '27 tahun'
alamat = 'Jl. Anggrek No. 100'
nama_umur_alamat = 'Hi, saya ' + nama_lengkap + 'umur' + umur + ', tinggal di ' + alamat + '.'
print(nama_umur_alamat)

john Doee
Hi, saya john Doeeumur27 tahun, tinggal di Jl. Anggrek No. 100.

### Menghilangkan Spasi di Awal dan/atau di Akhir
* .strip() : Menghilangkan kelebihan spasi pada awal dan akhir string 
* lstrip() : Menghilangkan kelebihan spasi pada awal string
* rstrip() : Menghilangkan kelebihan spasi pada akhir string

In [75]:
# Fitur .strip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.strip()
print(kata_sambutan)

halo, selamat siang!

In [76]:
# Fitur .lstrip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.lstrip()
print(kata_sambutan)

halo, selamat siang!

In [77]:
# Fitur .rstrip()
kata_sambutan = ' halo, selamat siang!   '
kata_sambutan = kata_sambutan.rstrip()
print(kata_sambutan)

 halo, selamat siang!

### Merubah Caps pada String
Cara merubah caps (penggunaan huruf besar dan kecil). Jika diawal kalimat pada suatu string yang dimiliki belum berupa huruf kapital maka dengan menggunakan fitur .capitalize() kita dengan mudah merubah string tersebut menjadi kalimat yang benar secara bahasa

* .capitalize() : Mengubah elemen pertama dari string menjadi huruf kapital
* .lower() : Mengubah seluruh huruf dalam teks (string) menjadi huruf kecil
* .upper() : Mengubah seluruh huruf dalam teks (string) menjadi huruf besar

In [78]:
# Fitur .capitalize()
print(">>> Fitur .capitalize()")
judul_buku = 'belajar bahasa Python'
print(judul_buku.capitalize())

>>> Fitur .capitalize()
Belajar bahasa python

In [79]:
# Fitur .lower()
print(">>> Fitur .lower()")
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.lower())

>>> Fitur .lower()
belajar bahasa python.

In [80]:
# Fitur .upper()
print(">>> Fitur .upper()")
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.upper())

>>> Fitur .upper()
BELAJAR BAHASA PYTHON.

### Pemecahan, Penggabungan, dan Penggantian String
Cara memecah suatu string dengan kondisi tertentu sehingga menghasilkan list of string. Kemudian, akan dipelajari bagaimana cara menggabungkan beberapa list of string menjadi string saja dan mengganti sub-string tertentu dengan sub-string lainnya sehingga merubah string awalnya

* .split() : Memecah sebuah string berdasarkan string lainnya ke dalam sebuah list
* .join() : Menggabungkan sebuah list yang berisikan string berdasarkan sebuah string yang telah didefinisikan
* .replace() : Menggantikan kemunculan suatu string tertentu dengan string lainnya dalam sebuah string

In [81]:
# Fitur .split()
print(">>> Fitur .split()")
bilangan = "ani dan budi dan wati dan johan"
karakter = bilangan.split("dan")
print(karakter)
kata = bilangan.split(" ")
print(kata)

>>> Fitur .split()
['ani ', ' budi ', ' wati ', ' johan']
['ani', 'dan', 'budi', 'dan', 'wati', 'dan', 'johan']

In [82]:
# Fitur .join()
print(">>> Fitur .join()")
pemisah = " dan "
karakter = ["Ricky", "Peter", "Jordan"]
kalimat = pemisah.join(karakter)
print(kalimat)

>>> Fitur .join()
Ricky dan Peter dan Jordan

In [84]:
# Fitur .replace()
print(">>> Fitur .replace()")
kalimat = "apel malang apel yang paling segar, apel sehat, apel nikmat"
kalimat = kalimat.replace("apel", "jeruk")
print(kalimat)

>>> Fitur .replace()
jeruk malang jeruk yang paling segar, jeruk sehat, jeruk nikmat

### Menentukan Posisi dan Jumlah Sub-string pada String

* .find() : Mengembalikan posisi dari sebuah teks (sub-string) lainnya dalam sebuah string
* .count() : Menghitung jumlah kemunculan sebuah teks (string) lainnya dalam suatu string (string yang dicari bersifat case sensitive

In [87]:
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
# Fitur .find()
print(">>> Fitur .find()")
print(teks.find("Apel"))
print(teks.find("malang"))
# Fitur .count()
print(">>> Fitur .count()")
kemunculan_kata_apel = teks.count("apel")
print(kemunculan_kata_apel)

>>> Fitur .find()
0
5
>>> Fitur .count()
3

### Menentukan String Apakah Diawali/Diakhiri oleh Sub-string
Cara menentukan apakah suatu string diawali atau diakhiri dengan suatu substring (teks) tertentu

* .startswith() : Mengembalikan nilai kebenaran True ketika sebuah teks (string) diawali dengan sebuah teks lainnya
* .endswith() : Mengembalikan nilai kebenaran True ketika sebuah teks (string) diakhiri dengan sebuah teks lainnya

In [88]:
# Fitur .startswith()
print(">>> Fitur .startswith()")
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
print(teks.startswith("Apel"))
print(teks.startswith("apel"))
# Fitur .endswith()
print(">>> Fitur .endswith()")
print(teks.endswith("lainnya"))
print(teks.endswith("apel"))

>>> Fitur .startswith()
True
False
>>> Fitur .endswith()
True
False

In [92]:
judul_artikel = [
"Buah Salak Baik untuk Mata", "Buah Salak Kaya Potasium",
"Buah Jeruk Kaya Vitamin C", "Buah Salak Kaya Manfaat",
"Salak Baik untuk Jantung", "Jeruk dapat Memperkuat Tulang",
"Jeruk Mencegah Penyakit Asma", "Jeruk Memperkuat Gigi",
"Jeruk Mencegah Kolesterol Jahat", "Salak Mencegah Diabetes",
"Salak Memperkuat Dinding Usus", "Salak Baik untuk Darah",
"Jeruk Kaya Manfaat untuk Jantung", "Salak si Kecil yang Baik",
"Jeruk dan Salak Buah Kaya Manfaat", "Buah Jeruk Enak",
"Tips Panen Jeruk Ribuan Kilo", "Tips Bertanam Salak",
"Salak Manis untuk Berbuka", "Jeruk Baik untuk Wajah"
]
jumlah_artikel_jeruk = 0
jumlah_artikel_salak = 0
for judul in judul_artikel:
  if judul.count("Jeruk") > 0:
    jumlah_artikel_jeruk += 1
  if judul.count("Salak") > 0:
    jumlah_artikel_salak += 1
print(jumlah_artikel_jeruk)
print(jumlah_artikel_salak)

10
11

In [93]:

judul_artikel = [
"Buah Salak Baik untuk Mata", "Buah Salak Kaya Potasium",
"Buah Jeruk Kaya Vitamin C", "Buah Salak Kaya Manfaat",
"Salak Baik untuk Jantung", "Jeruk dapat Memperkuat Tulang",
"Jeruk Mencegah Penyakit Asma", "Jeruk Memperkuat Gigi",
"Jeruk Mencegah Kolesterol Jahat", "Salak Mencegah Diabetes",
"Salak Memperkuat Dinding Usus", "Salak Baik untuk Darah",
"Jeruk Kaya Manfaat untuk Jantung", "Salak si Kecil yang Baik",
"Jeruk dan Salak Buah Kaya Manfaat", "Buah Jeruk Enak",
"Tips Panen Jeruk Ribuan Kilo", "Tips Bertanam Salak",
"Salak Manis untuk Berbuka", "Jeruk Baik untuk Wajah"
]
kata_positif = ["Kaya", "Baik", "Mencegah", "Memperkuat"]
kata_positif_jeruk = 0
kata_positif_salak = 0
for judul in judul_artikel:
  for kata in kata_positif:
    if judul.count("Jeruk") > 0 and judul.count(kata) > 0:
      kata_positif_jeruk += 1
    if judul.count("Salak") > 0 and judul.count(kata) > 0:
      kata_positif_salak += 1
print(kata_positif_jeruk)
print(kata_positif_salak)

8
9